<p>
  <strong>Title:</strong><%=h @download.title %>
</p>
<p>
  <strong>Description:</strong><%=h @download.body %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>