<div id="menuLeft">
	<%= image_tag 'content/top_menu_rouded.png', :size => "252x15" %>
	<ul>
		<li><%= link_to 'Back to Messages', @topic %></li>
	</ul>
	<%= image_tag 'content/bottom_menu_rouded.png', :size => "252x15" %>	
</div>
