<div id="meta_content_data">
	<p>
		<label for="meta_title">Meta Title:</label>
		<%= f.text_field :meta_title, :id => 'meta_title', :size => 50 %>
	</p>
	<p>
		<label for="meta_keywords">Meta Keywords:</label>
		<%= f.text_field :meta_keywords, :id => 'meta_keywords', :size => 50 %>
		<br/>Please, separate each keyword with a comma.
		<% if !SITE_META_KEYWORDS.blank? %>
			<br/>Note: The following keywords are automatically added: <%= SITE_META_KEYWORDS %>.
		<% end %>
	</p>
	<p>
		<label for="meta_description">Meta Description:</label>
		<%= f.text_area :meta_description, :id => 'meta_description', :size => '50x5' %>
	</p>
</div>
