.DS_Store
config/database.yml
config/application.yml
log/*.log
db/*.sqlite3
coverage
doc/app/*
schema.rb
public/uploads/*
public/Images
public/Images/*
nbproject
db/migrate/*create_file_attributes.rb
tmp/**/*
public/images/*/big
public/images/*/medium
public/images/*/thumb
public/images/*/original
public/pdfs/*/original
public/covers/*
**/Thumbs.db
.git
public/flv/*
deploy
deploy/*