<% @title = 'Press' %>
<div class="contentCMS">
	<h1 style="clear:both;width:590px;"><%= @press.title %></h1>
	<%= @press.body %>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('press');});" %>
<% end -%>