<p>
  <label for="press_title">Title:</label>
  <%= f.text_field :title %>
</p>
<p>
  <label for="page_body">Description:</label>
  <%= fckeditor_textarea 'press', 'body', :height => '300px' %>
</p>
<p>
	<label for="press_cover">Cover:</label>
	<%= f.file_field :cover %>
</p>