<div id="menuLeft">
		<%= image_tag 'content/top_menu_rouded.png', :size => "252x15" %>
		<ul>
			<li>		<%= content_tag :p, link_to('Add a message', new_topic_message_path(@topic)) if logged_in? && current_user %></li>
		</ul>
		<%= image_tag 'content/bottom_menu_rouded.png', :size => "252x15" %>	
	</div>
