* {margin:0; padding:0; outline:none;}
a img{border:none;}

body {height:100%; background:black url(../images/back_body.jpg) left top no-repeat; color:white; margin:30px 0 0 30px; font:12px Arial, Verdana, Tahoma, sans-serif;}

a {color:white;}

h1 {margin-bottom:12px; font-size:16px; font-weight:normal; color:#DFA94F;}

label    {display:block; margin-top:5px; font-weight:bold;}
input,
select,
textarea {padding:3px 2px; font:12px Arial, Verdana, Tahoma, sans-serif;}
input,
textarea {border:none;}
textarea {height:90px;}

#main {width:990px;}

/* Top */
#logo       {float:left;}
#menu       {margin:40px 0 0 16px; float:left;}
#menu li    {float:left; list-style:none; margin-left:14px; position:relative; padding:6px;}
#menu ul    {display:none; position:absolute; width:auto; top:28px; left:0; z-index:1;}
#menu ul li {float:none; list-style:none; margin:0; white-space:nowrap;}
#menu a     {text-decoration:none; color:#CCC; font-size:14px;}
#menu a:hover {color:#DFA94F;}
#menu .selected a {color:#DFA94F;}
#menu .selected li a {color:#ccc;}
#menu .selected li a:hover {color:#DFA94F;}
#menu .hover,
#menu .hover ul {background:URL(../images/background/transparent.png);}
#menu .hover li {background:none;}

/* Footer */
#footer,
#footer a {font-size:10px; color:#72450E; text-align:center; padding-top:10px; text-decoration:none; clear:both; margin:20px 0;}
#footer a:hover {text-decoration:underline;}

/* Content */
#container {clear:both; min-height:480px; padding-top:25px;}
#sub_nav {float:left; width:250px; padding-top:31px; text-align:center;}
#sub_nav table {margin:-10px 0 0 50px;}

#sub_nav th {vertical-align:top; width:50px; text-align:right;}
#sub_nav td {vertical-align:top;}
#sub_nav td.bullet {vertical-align:bottom;}
#content {float:right; width:689px;}

/* home */
body.home #main {float:left;width:100%;}
#flash {position:absolute;top:123px;left:161px;width:100px;height:165px;}
#flashHome {float:left;width:100%;}

/* character */
.character .content_cms {margin-top:15px; width:483px;}

/* directors_statements */
.directors_statements .content_cms {margin-top:10px;}

/* transcript */
.transcript #content {float:none; width:auto; padding:0 20px 20px 0;}

/* gallery */
.gallery #content {position:relative;}
.gallery .loading {display:none; position:absolute; top:170px; left:170px;}

/*CMS*/
.content_cms {text-align:justify;}
.content_cms h1 {margin-bottom:5px;font-size:16px;}
.content_cms h2 {margin-bottom:5px;font-size:15px;}
.content_cms h3 {margin-bottom:5px; font-size:14px;}
.content_cms h4 {margin-bottom:5px; font-size:13px;}
.content_cms h5 {margin-bottom:5px; font-size:12px;}
.content_cms h1 img,
.content_cms h2 img {margin:0;}
.content_cms p {margin-bottom:14px;}
.content_cms table {clear:both;}
.content_cms ul,
.content_cms ol {margin-left:30px;}
