* {margin:0; padding:0; outline:none;}
a img{border:none;}

body {height:100%; background:black url(../images/back_body.jpg) left top no-repeat; color:white; margin:30px 0 0 30px; font:12px Arial, Verdana, Tahoma, sans-serif;}
body.home {margin:0; background:black;}

a {color:white;}

h1 {margin-bottom:12px; font-size:16px; font-weight:normal; color:#DFA94F;}
p.nav {width:100%;clear:both;font-size:11px;color:white;padding-top:20px;text-align:right;}

label    {display:block; margin-top:5px; font-weight:bold;}
input,
select,
textarea {padding:3px 2px; font:12px Arial, Verdana, Tahoma, sans-serif;}
input,
textarea {border:none;}
textarea {height:90px;}

#main {width:990px;}

/* Top */
#logo       {float:left;}
#menu       {margin:40px 0 0 16px; float:left;}
#menu li    {float:left; list-style:none; margin-left:14px; position:relative; padding:6px;}
#menu ul    {display:none; position:absolute; width:auto; top:28px; left:0; z-index:1;}
#menu ul li {float:none; list-style:none; margin:0; white-space:nowrap;}
#menu a     {text-decoration:none; color:#CCC; font-size:14px;}
#menu a:hover {color:#DFA94F;}
#menu .selected a {color:#DFA94F;}
#menu .selected li a {color:#ccc;}
#menu .selected li a:hover {color:#DFA94F;}
#menu .hover,
#menu .hover ul {background:URL(../images/background/transparent.png);}
#menu .hover li {background:none;}

/* Footer */
#footer,
#footer a {font-size:10px; color:#72450E; text-align:center; padding-top:10px; text-decoration:none; clear:both; margin:20px 0;}
#footer a:hover {text-decoration:underline;}

/* Content */
#container {clear:both; min-height:480px; padding-top:25px;}
#sub_nav {float:left; width:250px; padding-top:31px; text-align:center;}
#sub_nav table {margin:-10px 0 0 50px;}

#sub_nav th {vertical-align:top; width:50px; text-align:right;}
#sub_nav td {vertical-align:top;}
#sub_nav td.bullet {vertical-align:bottom;}
#content {float:right; width:689px;}

#sub_nav ul {width:144px;margin-left:60px;}
#sub_nav li {text-align:left;list-style:none;}
#sub_nav li a {text-decoration:none;}
#sub_nav li a:hover {text-decoration:underline;}
#sub_nav .button {margin:10px 0 10px 70px;width:74px;}

#sub_nav label {text-align:left;padding:5px 0 5px 2px;}

/* home */
body.home #main {float:left;width:100%;}
#flash {position:absolute;top:123px;left:161px;width:100px;height:165px;}
#flashHome {float:left;width:100%;}

/* character */
.character .content_cms {margin-top:15px; width:483px;}

/* directors_statements */
.directors_statements .content_cms {margin-top:10px;}

/* transcript */
.transcript #content {float:none; width:auto; padding:0 20px 20px 0;}

/* gallery */
.gallery #content {position:relative;}
.gallery .loading {display:none; position:absolute; top:170px; left:170px;}

/* contact */
.contact form{width:377px; float:left; border-right:1px solid #6E2301;}
.contact label {margin:15px 0 5px;}
.contact input,
.contact textarea {width:353px;}
.contact .submit {text-align:right; margin:10px 18px 0 0;}
.contact .submit input {width:auto;}
.contact label.error {color:red; font-weight:normal; margin:0;}

.contact .content_cms {float:right;width:305px;}
.contact .content_cms li {list-style-image:url(../images/bullets/fire.png); margin-bottom:15px; color:#958367;}
.contact .content_cms li a {color:#958367; text-decoration:none;}
.contact .content_cms li a:hover {text-decoration:underline;}

/*presses*/
dl.press {float:right;width:690px;}
dl.press dt {padding:10px 10px 0 0;width:78px;float:left;}
dl.press dd {border-bottom:solid 1px white;padding:10px 0;}
dl.press dd strong a{display:block;text-decoration:none;color:#DFA94F;}

dl.download {float:right;width:690px;}
dl.download dt {padding:10px 10px 0 0;width:10px;float:left;margin:0;}
dl.download dt img {margin-top:-5px;padding:0;}
dl.download dd {border-bottom:solid 1px white;padding:10px 0;}
dl.download dd strong a{float:left;display:inline;text-decoration:none;color:#DFA94F;}

/*CMS*/
.content_cms {text-align:justify;}
.content_cms h1 {margin-bottom:5px;font-size:16px;}
.content_cms h2 {margin-bottom:5px;font-size:15px;}
.content_cms h3 {margin-bottom:5px; font-size:14px;}
.content_cms h4 {margin-bottom:5px; font-size:13px;}
.content_cms h5 {margin-bottom:5px; font-size:12px;}
.content_cms h1 img,
.content_cms h2 img {margin:0;}
.content_cms p {margin-bottom:14px;}
.content_cms table {clear:both;}
.content_cms ul,
.content_cms ol {margin-left:30px;}

/*Forum*/
.titleReply a {text-decoration:none;color:#DFA94F;}
.text_message {width:100%;}