* {margin:0; padding:0; outline:none;}
a img{border:none;}

body {height:100%; background:black url(../images/back_body.jpg) left top no-repeat; color:white; margin:30px 0 0 30px; font:14px Arial, Verdana, Tahoma, sans-serif;}
body.home {margin:0; background:black;}

a {color:white;}

h1 {margin-bottom:12px; font-size:16px; font-weight:normal; color:#DFA94F;}
p.nav {width:100%;clear:both;font-size:11px;color:white;padding-top:20px;text-align:right;}

label    {display:block; margin-top:5px; font-weight:bold;}
input,
select,
textarea {padding:3px 2px; font:12px Arial, Verdana, Tahoma, sans-serif;}
input,
textarea {border:none;}
textarea {height:90px;}

#main {width:990px;}

/* Top */
#logo       {float:left;}
#menu       {margin:40px 0 0 16px; float:left;}
#menu li    {float:left; list-style:none; margin-left:14px; position:relative; padding:6px;}
#menu ul    {display:none; position:absolute; width:auto; top:28px; left:0; z-index:999;}
#menu ul li {float:none; list-style:none; margin:0; white-space:nowrap;}
#menu a     {text-decoration:none; color:#CCC; font-size:14px;}
#menu a:hover {color:#DFA94F;}
#menu .selected a {color:#DFA94F;}
#menu .selected li a {color:#ccc;}
#menu .selected li a:hover {color:#DFA94F;}
#menu .hover,
#menu .hover ul {background:black;}
#menu .hover li {background:none;}

#facebook_bt {float:right;margin:-70px 10px 0 0;}
#youtube_bt {float:right;margin:-70px 71px 0 0;}
#twitter_bt {float:right;margin:-70px 40px 0 0;}

/* Footer */
#footer,
#footer a {font-size:10px; color:#72450E; text-align:center; padding-top:10px; text-decoration:none; clear:both; margin:20px 0;}
#footer a:hover {text-decoration:underline;}

/* Content */
#container {clear:both; min-height:480px; padding-top:25px;}
#sub_nav {float:left; width:290px; padding-top:31px; text-align:center;}
#sub_nav table {margin:-10px 0 0 50px;}

#sub_nav th {vertical-align:top; width:50px; text-align:right;}
#sub_nav td {vertical-align:top;}
#sub_nav td.bullet {vertical-align:bottom;}
#content {float:right; width:689px;}

#sub_nav.forum ul {width:144px;margin-left:60px;}
#sub_nav.forum li {text-align:left;list-style:none;}
#sub_nav.forum li a {text-decoration:none;}
#sub_nav.forum list a:hover {text-decoration:underline;}
#sub_nav.forum .button {margin:10px 0 10px 95px;}

#sub_nav label {text-align:left;padding:5px 0 5px 2px;}

/* home */
body.home #main {float:left;width:100%;}
#flash {position:absolute;top:123px;left:161px;width:100px;height:165px;}
#flashHome {float:left;width:100%;}

/* character */
.character .content_cms {margin-top:15px; width:483px;}

/* directors_statements */
.directors_statements .content_cms {margin-top:10px;}

/* transcript */
.transcript #content {float:none; width:auto; padding:0 20px 20px 0;}

/* gallery */
.gallery #content {position:relative;}
.gallery .loading {display:none; position:absolute; top:170px; left:150px;}
.gallery .list {width:200px;new tempa}
.gallery .list li {height:70px;width:200px;padding:5px 0;margin:0;display:block;clear:both;}
.gallery .list li p {font-weight:bold;float:left;width:90px;text-align:right;}
.gallery #sub_nav {padding-top:10px;}
.gallery p.nav {position:absolute;top:15px;right:160px;width:100px;}
.gallery p.caption {position:absolute;top:60px;right:0px;width:190px;overflow:hidden;text-align:left;}

/* contact */
.contact form{width:377px; float:left; border-right:1px solid #6E2301;}
.contact label {margin:15px 0 5px;}
.contact input,
.contact textarea {width:353px;}
.contact .submit {text-align:right; margin:10px 18px 0 0;}
.contact .submit input {width:auto;}
.contact label.error {color:red; font-weight:normal; margin:0;}

.contact .content_cms {float:right;width:305px;}
.contact .content_cms li {margin-bottom:15px; color:white;}
.contact .content_cms li a {color:white; text-decoration:none;}
.contact .content_cms li a:hover {text-decoration:underline;}

/*presses*/
.press ol {list-style:none;}
.press li {clear:both; padding:10px 0;}
.press li img {float:left; margin:0 10px 10px 0;}
.press h2 a {text-decoration:none; color:#DFA94F; font-size:12px;}
.press .downloads p {clear:both;}

.press .content_cms {margin-bottom:10px;}

img.crew {float:left;padding-right:20px;}
/*CMS*/
.content_cms    {text-align:justify;}
.content_cms h1 {margin-bottom:5px;font-size:16px;}
.content_cms h2 {margin-bottom:5px;font-size:15px;}
.content_cms h3 {margin-bottom:5px; font-size:14px;}
.content_cms h4 {margin-bottom:5px; font-size:13px;}
.content_cms h5 {margin-bottom:5px; font-size:12px;}
.content_cms h1 img,
.content_cms h2 img {margin:0;}
.content_cms p {margin-bottom:14px;}
.content_cms table {clear:both;}
.content_cms ul,
.content_cms ol {margin-left:30px;}

/*Forum*/
.titleReply a {text-decoration:none;color:#DFA94F;}
.text_message {width:100%;}

/* biographies */
.biographies .list li {width:150px; display:table; margin:0 0 0 25px; padding:2px 0;}

.biographies .list li img {float:right;}
.biographies .list li p {width:80px; text-align:right;float:left; font-weight:bold;}

.prev,
.next {cursor:pointer;}

.button {padding:3px 5px;background-color:black;color:white;font-size:12px;}