<ul>
	<%  if logged_in? && current_user %>
		<li><%= link_to 'List to posts', "/topics" %></li>
		<li><%= link_to "Logout", logout_path %>
	<% else %>
		<li><%= link_to "Login", login_path %></li>
	<% end %>
</ul>	
