<h1>New Staff</h1>

<%= error_messages_for :staff %>

<% form_for(:staff, :url => collection_url, :html => { :multipart=>true } ) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>