<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<% @title = @page.title %>
<div id="content">
	<h1><%= @page.title %></h1>
	<div id="videoPlayer">&nbsp;</div>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('trailer');});" %>
	<%= javascript_include_tag "plugins/flashembed.min", "page/trailer" %>
<% end -%>