<h1>Password Recovery</h1>

<p>Your password was changed to <%= @password %>.</p>

<p>Please, login in <a href="http://40years.local/login">http://40years.local/login</a> and modify your password at <a href="http://40years.local/users/<%= @user.id%>/edit">http://40years.local/users/<%= @user.id%>/edit</a>.</p>

<p>Regards,<br />
	Elemental Productions Team</p>
