<p>
  <label for="user_login">Login:</label>
  <%= f.text_field :login %>
</p>
<p>
  <label for="user_email">Email:</label>
  <%= f.text_field :email %>
</p>
<p>
  <label for="user_password">Password:</label>
  <%= f.password_field :password %>
</p>
<p>
  <label for="user_password2">Password Confirmation:</label>
  <%= f.password_field :password_confirmation %>
</p>

